<!DOCTYPE HTML>
<html>

<head>
    <title>修改订单</title>
    @@include('./public/head.html')
</head>

<body>
    <!-- content -->
    <div id="bw-order" class="disn padding-bottom-50">
        <p class="bg-white line-45 padding-left-12">
            <i class="icon icon-order margin-right-10"></i><span class="black">货品清单</span>
        </p>
        <div class="quality bg-white margin-top-10 JS_cart_item">

        </div>
        
        <div class="ordinary bg-white margin-top-10 JS_cart_item">

        </div>
    </div>
    <!-- /content -->
    <script type="text/javascript" src="/libs/requirejs/require.js" data-main="/script/entry"></script>
    <script type="text/javascript" src="/script/cOrder.js"></script>
</body>

</html>