<!DOCTYPE HTML>
<html>

<head> 
    <title></title>
    @@include('./public/head.html')
</head>

<body>
    <!-- content -->
    <div id="myPDF"></div>
    <!-- /content -->
    <!-- /footer -->
    <script type="text/javascript" src="/libs/pdf/jquery.js"></script>
    <script type="text/javascript" src="/libs/pdf/pdf.compatibility.js"></script>
    <script type="text/javascript" src="/libs/pdf/pdf.js"></script>
    <script type="text/javascript" src="/libs/pdf/jquery.touchSwipe.js"></script>
    <script type="text/javascript" src="/libs/pdf/jquery.touchPDF.js"></script>
    <script type="text/javascript" src="/libs/pdf/jquery.panzoom.js"></script>
    <script type="text/javascript" src="/libs/pdf/jquery.mousewheel.js"></script>
    <script type="text/javascript" src="/script/pdf.js"></script>   
</body>

</html>