<!DOCTYPE HTML>
<html>

<head> 
    <title>用户奖励</title>
    @@include('./public/head.html')
</head>

<body>
    <!-- content -->
    <div id="rewards">
        <div class="warpper bg-white padding-bottom-20">
            <div class="header"></div>
            <div class="ongoing">
                <div class="title">进行中</div>
                
            </div>
            <div class="end">
                <div class="title">往期项目</div>
            </div>
            <div class="no-start">
                <div class="title">未开始项目</div>
            </div>
        </div>
    </div>
    <!-- /content -->
    <script type="text/javascript" src="/libs/requirejs/require.js" data-main="/script/entry"></script>
    <script type="text/javascript" src="/script/rewards.js"></script>
</body>

</html>