<!DOCTYPE HTML>
<html>

<head> 
    <title>搜索</title>
    @@include('./public/head.html')
</head>

<body>
    <!-- content -->
    <div id="bw-search">
        <div class="header bg-white">
            <a id="JS_scan" class="f-left text-center margin-right-10">
                <p>
                    <i class="icon icon-scan"></i>
                </p>
                <p class="font-10 black-8">扫一扫</p>
            </a>
            <form class="f-left search-warpper" action="#">
                <i class="icon icon-search"></i>
                <input type="search" maxlength="20" autocomplete="off" placeholder="书号、书名、作者、出版社" id="JS_search">
            </form>
            <div class="f-right text-center" id="JS_advanced_search">
                <p>
                    <i class="icon icon-advanced-search"></i>
                </p>
                <p class="font-10 black-8">高级搜索</p>
            </div>
        </div>
        <div class="across"></div>
        <div class="hot bg-white">
            <h2 class="gray">
                <i class="icon icon-border2 margin-right-10"></i>热门搜索
                <i class="icon icon-border2 margin-left-10"></i>
            </h2>
            <div id="JS_hot" class="hot-warpper">
               
            </div>
        </div>
        <div class="across"></div>
        <div class="history bg-white padding-bottom-40">
            <h2 class="gray">
                <i class="icon icon-border2 margin-right-10"></i>历史搜索
                <i class="icon icon-border2 margin-left-10"></i>
            </h2>
            <div id="JS_history" class="history-warpper black-5">

            </div>
        </div>
    </div>
    <!-- /content -->
    <script src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script type="text/javascript" src="/libs/requirejs/require.js" data-main="/script/entry"></script>
    <script type="text/javascript" src="/script/search.js"></script>
</body>

</html>