<meta charset="utf-8">
<meta name="author" content="lyl">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0,user-scalable=no,minimal-ui">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="Expires" content="-1">
<meta http-equiv="Cache-Control" content="no-cache,no-store,must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta name="full-screen" content="yes">
<meta name="browsermode" content="application">
<meta name="x5-orientation" content="portrait">
<!-- build:css /css/app.min.css -->
<link rel="stylesheet" href="/css/public.css">
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/libs/layer/dist/theme/default/layer.css">
<link rel="stylesheet" href="/libs/date/date.min.css">
<link rel="stylesheet" href="/libs/swiper/dist/css/swiper.css">
<link rel="stylesheet" href="/libs/pdf/jquery.touchPDF.css">
<!-- endbuild -->
<!--[if lt IE 9]>
<script src="/libs/html5shiv/dist/html5shiv.js"></script>
<![endif]-->
<script type="text/javascript" src="/script/vconsole.min.js"></script>
<script>
    var html = document.querySelector('html');
    html.style.fontSize = document.documentElement.clientWidth * 0.15625 + "px";
    window.onresize = function () {
        html.style.fontSize = document.documentElement.clientWidth * 0.15625 + "px";
    }
</script>